.idea/
node_modules/
logs/
build/
.gradle/
e2e/node_modules/
e2e/cypress/fixtures/
e2e/cypress/integration/examples/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
